body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px; */
    padding: 3rem;
}

.heading-primary {
    text-transform: uppercase;
    color: #fff;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 7rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        padding: 2rem;
    
        animation-name: moveInFromLeft;
        animation-duration: 1s;
    }
    
    &--sub {
        display: block;
        font-size: 2.5rem;
        font-weight: 400;
        letter-spacing: 1.75rem;
    
        animation-name: moveInFromRight;
        animation-duration: 1s;
    }
}