.btn { 
    &:visited,
    &:link {
        text-decoration: none;
        text-transform: uppercase;
        padding: 2rem 4.5rem;
        font-size: 2rem;
        display: inline-block;
        border-radius: 10rem;

        transition: all .2s;
        position: relative;
    }

    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 10px 20px rgba(0,0,0,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 5px 10px rgba(0,0,0,.2);
    }

    &::after {
        content: "";
        height: 100%;
        width: 100%;
        display: inline-block;
        position: absolute;
        border-radius: 10rem;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--discover {
        font-size: 2.5rem;
        background-color: #fff;
        color: #777;

        &::after {
            background-color: #fff;
        }
    }
    
    &--animate {
        animation: moveInFromBottom .4s ease-out .75s;
        animation-fill-mode: backwards;
    }
}